:root{
    --primary-color: #900;
    --background-color: #e90b0b;
}

/* Asegúrate de que el HTML y BODY ocupen toda la altura */
html{
   font-size: 62.5%;
   font-family: 'Poppins',sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILIDADES */
.container{
    max-width: 120rem;
    margin: 0 auto;
}

.heading-1{
    text-align: center;
    font-weight:500;
    font-size: 3rem;
}

/* HEADER */
.container-hero{
    background-color: var(--background-color);
}
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    
}
.customer-support{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.customer-support i{
    font-size: 3.3rem;
}
.content-customer-support{
    display: flex;
    flex-direction: column;
}

.logo-header{
    border-radius: 50px;
    width: 100px; 
    height: auto;
    border: 2px solid red; 
}
.container-logo {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.container-logo i {
	font-size: 3rem;
}

.container-logo h1 a {
	text-decoration: none;
	color: #000;
	font-size: 3rem;
	text-transform: uppercase;
	letter-spacing: -1px;
}

.container-user{
    display: flex;
    gap: 1rem;
    cursor: pointer;
}

.container-user .fa-user{
    font-size: 3rem;
    color: #161616;
    padding-right: 2.5rem;
    border-right: 1px solid #e2e2e2;
}

.container-user .fa-cart-shopping{
    font-size: 3rem;
    color: #161616;
    padding-left: 1rem;
}
.content-shopping-cart{
    display: flex;
    flex-direction: column;
}

/* NAVBAR */
.container-navbar {
    background-color: #161616; 
    color: white;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}
.navbar .fa-bars{
    display: none;
}
.menu{
    display: flex;
    gap: 2rem;
}
.menu li{
    list-style: none;
}
.menu a{
    text-decoration: none;
    font-size:  1.5rem; 
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
}

.menu a::after{
    content: '';
    width: 1.5rem;
    height: 1px;
    background-color: #ffffff;
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%,50%);
    opacity: 0;
    transition: all .3s ease;
}

.menu a:hover::after{
    opacity: 1;
}

.menu a:hover{
    color: #ec0e0e;
}

.search-form{
    position: relative;
    display: flex;
    align-items: center;
    border: 2px solid #fff;
    border-radius: 2rem;
    background-color: #fff;
    height: 4.4rem;
    overflow: hidden;
}
.search-form input{
    outline: none;
    font-family: inherit;
    border: none;
    width: 25rem;
    font-size: 1.4rem;
    padding: 0 2rem;
    color: rgb(43, 41, 41);
    cursor: pointer;
}

.search-form input::-webkit-search-cancel-button{
    appearance: none;
}
.search-form .btn-search{
    border: none;
    background-color: #900;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 1rem;
}
.btn-search{
    font-size: 2rem;
    color: white;
}

.navbar-item {
    color: white;
}

.navbar-item:hover {
    color: #b08d57; 
}

.navbar-burger span {
    background-color: white; 
}

/* Hover de la hamburguesa */
.navbar-burger:hover span {
    background-color: #b08d57; 
}


.navbar-dropdown {
    background-color: #161616; 
}

.navbar-dropdown a {
    color: white;
}

.navbar-dropdown a:hover {
    background-color: #b08d57; /* Dorado suave al pasar el ratón */
}
img {
    opacity: 1; /* Asegúrate de que no sea 0 */
    visibility: visible; /* Asegúrate de que no esté oculta */
}

/* Login */
.wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    background: rgba(0, 0, 0, 0.7); /* Fondo oscuro */
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform 0.5s ease, opacity 0.5s ease;
    opacity: 0; /* Inicialmente oculto */
}

.wrapper.active-popup {
    transform: scale(1);
    opacity: 1; /* Aparece cuando la clase se añade */
}

.wrapper.active{
    height: 520px;
}


.wrapper .form-box{
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login{
   transition: transform .18s ease;
   transform: translateX(0);
}
.wrapper.active .form-box.login{
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.register{
    position: absolute;
    transition:none ;
    transform: translateX(400px);
}

.wrapper.active .form-box.login{
    transition: transform .18s ease;
    transform: translateX(0);
 }

.form-box {
    background: #fff;  /* Fondo blanco para los formularios */
    width: 100%;
    padding: 40px;
    border-radius: 10px;
}


.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #0d8cec;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.form-box h2{
    font-size: 2em;
    color: #0d8cec;
    text-align: center;
}

.input-box{
    position:relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #0d8cec ;
    margin:30px 0;
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top:-5px
}


.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #162938;
    font-weight:600;
    padding: 0 35px 0 5px;
}

.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em ;
    color: #162938;
    line-height: 57px;
}
.remember-forgot{
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin:-15px 0 15px;
    display:flex;
    justify-content: space-between;
}

.remember-forgot label input{
    accent-color: rgb(25, 0, 255) ;
    margin-right: 3px;
}

.remember-forgot a{
    color: red;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.btn-login{
    width: 100%;
    height: 45px;
    background: #162938 ;
    border: none;
    outline: none;
    border-radius:6px ;
    cursor: pointer;
    color: #fff ;
    font-weight: 500;
}


.login-register{
    font-size: .9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a{
    color: #0d8cec;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover{
    text-decoration: underline;
}



/* BANNER */
.banner{
    background-image: url('../Images/copavino.jpg');
    height: 75.5rem;
    background-size:cover;
    background-position:center;
    
 
}
.content-banner{
    max-width: 90rem;
    margin: 0 auto;
    padding: 25rem 0;

}
.content-banner p{
    color: white;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-weight: 500;
}
.content-banner h2{
    color: white;
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 1.2;
}

/* MAIN CONTENT */  
.main-content{
    background-color: #c77d40;
} 

/* FEACURES */
.container-features{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
    padding: 2rem 0;
}
.card-feacture{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

    background-color: #fff;
    border-radius: 1rem;
    padding: 1.5rem 0;
}

.card-feacture i{
    font-size: 2.7rem;
    color: #900;
}
.feacture-conten{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.feacture-content span{
    font-weight: 700;
    font-size: 1.2rem;
    color: #161616;
}

.feacture-contetent p{
    color: #777;
    font-weight: 500;
}

/* CATEGORIAS */
.top-categories{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;  
}

.container-categories{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:3rem
}

.card-category{
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    gap:2rem;
}
.category-vinos{
    background-image:linear-gradient(#00000080,#00000080),url(../Images/vinocategoria.jpg);
    background-size:contain;
    background-position: bottom;
    background-repeat:no-repeat ;
    background-color:white;

}
.category-licores{
    background-image:linear-gradient(#00000080,#00000080),url(../Images/licores.jpg);
    background-size:cover;
    background-position: bottom;
    background-repeat:no-repeat ;
    background-color:transparent;

}
.category-gaseosas{
    background-image:linear-gradient(#00000080,#00000080),url(../Images/gaseosa.png);
    background-size:contain;
    background-position: bottom;
    background-repeat:no-repeat ;
    background-color:white;
}

.card-category p{
    font-size: 2.5rem;
    color: #fff;
    text-transform: capitalize;
    position: relative;
}

.card-category p::after{
    content: '';
    width: 2.5rem;
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translate(-50%,50%);
}
.card-category span{
    font-size: 1.6rem;
    color: #fff;
    cursor: pointer;
}

.card-category span:hover{
    color: #900;
}


/* Top Productos */

.top-products{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
}

.container-products{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
    gap: 3rem;
}
.card-product{
    background-color: #fff;
    padding: 2rem 3rem;
    border-radius: .5rem;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.container-img{
    position: relative; 
}

.container-img img{
    width: 100%;
}

.content-card-product{
    display: absolute;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4,min-content);
    row-gap: 1rem;
}



.card-product:hover .button-group{
    z-index: 0;
    right: -1rem;
}

.content-card-product h3{
    grid-row: 2/3;
    grid-column: 1/-1;

    font-weight: 400;
    font-size: 1.6rem;
    margin-bottom: 1rem;
    cursor: pointer;
}
.content-card-product h3:hover{
    color: #900;
}

.button-group {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	position: absolute;
	top: 0;
	right: -3rem;
	z-index: -1;
	transition: all 0.4s ease;
}

.button-group span {
	border: 1px solid #900;
	padding: 0.8rem;

	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.4s ease;
}

.button-group span:hover {
	background-color: #900;
}

.button-group span i {
	font-size: 1.5rem;
	color: #900;
}

.button-group span:hover i {
	color: #fff;
}



.add-cart{
    justify-self: start;
    border: 2px solid black;
    padding: 1rem;
    border-radius: 50%;
    cursor: pointer;
    transition: all .4s ease;

    display: flex;
    align-items: center;
    justify-items: center;
}

.add-cart:hover{
    background-color: #900;
}

.add-cart i{
    font-size: 1.5rem;
    color: #900;
}

.add-cart:hover i{
    color: #fff;
}

.content-card-product .price{
    justify-self: end;
	align-self: center;

    font-size: 1.7rem;
    font-weight: 600;
}

.stars {
	grid-row: 1/2;
	grid-column: 1/-1;
}

.stars i {
	font-size: 1.3rem;
	color: var(--primary-color);
}


/* Footer */
.footer {
    background-color: #161616; /* Color de fondo oscuro */
    color: white;
    padding: 20px ;
    font-family: Arial, sans-serif;
    width: 100%; /* Ancho completo */
    min-height: 150px; /* Altura mínima */
    box-sizing: border-box;
    
}
  
.footer-content {
    display: flex;
    justify-content: space-evenly;
}
  
.contact-info{
    display: flex;
    flex-direction: column; /* Asegura la disposición en columna */
    justify-content: flex-start; /* Alinea verticalmente */
    align-items: flex-start; /* Alinea horizontalmente al inicio (izquierda) */
    max-width: 50%; /* Ajusta el ancho */
}
.copy{
    text-align: center;
    justify-content: center;
    display: flex;
    padding: 20px;
    font-size: 2rem;
}
strong{
    color: #900;
}



.contact-info p {
    margin: 5px 0;
    font-size: 1rem;
}
 

.social-media a {
    margin-top: 10px;
}
  
.social-media img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
  
.social-media img:hover {
    opacity: 0.7;
    transition: opacity 0.3s ease;
}
  
.logo-img{
    width: 100%;
    height: 100%;
}
.logo_compañia{
    height: 100px;

}